<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Design</title>
    <link rel="stylesheet" href="/assets/styles/layouts/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>

  <body>
    <footer>
      <div class="footer_logo">
        <a href="#"> <img src="/assets/images/header_logo.png" alt="" /> </a>
      </div>
      <div class="container">
        <div class="footer-section about">
          <h2>About Us</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
            lobortis diam.
          </p>
          <p>
            Duis tellus enim, vestibulum eget varius id, vulputate ed mi. Nullam
            feugiat, diam quis interdum varius.
          </p>
          <a href="#" class="btn">Start Learning Now</a>
        </div>
        <div class="footer-section courses">
          <h2>Popular Courses</h2>
          <ul>
            <li><a href="#">Power Electronics</a></li>
            <h3>Free</h3>
            <li><a href="#">Introduction to Calculus</a></li>
            <h3>Free</h3>
            <li><a href="#">Basic Laws and Policies</a></li>
            <h3>Free</h3>
          </ul>
        </div>
        <div class="footer-section links">
          <h2>Quick Links</h2>
          <ul>
            <li>
              <i class="fa-solid fa-angle-right"></i><a href="#">All Courses</a>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><a href="#">Summer Sessions</a>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><a href="#">Professional Courses</a>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><a href="#">Privacy Policy</a>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
        <div class="footer-section contact">
          <h2>Contact Us</h2>
          <ul>
            <li>
              <i class="fa-solid fa-location-arrow"></i>123 Design Themes Inc.
              <br />Mary Jane St, Sydney 2233, Australia
            </li>
            <li><i class="fa-solid fa-mobile"></i>Phone: +11 (2) 7654 2233</li>
            <li><i class="fa-solid fa-fax"></i>Fax: +11 (5) 7654 2244</li>
            <li><i class="fa-regular fa-envelope"></i>Email: lms@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright © 2020 LMS Theme All Rights Reserved | Design Themes</p>
        <div class="social-links">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-skype"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
