body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #f5edd3;
  color: #555;
  padding: 0;
}

.footer_logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-section h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.footer-section p {
  line-height: 1.6;
}

.footer-section h3 {
  color: #889f52;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  border-bottom: solid 1px #b9b9b9;
}

.footer-section ul li a {
  color: #555;
  text-decoration: none;
}

.footer-section li i {
  left: 5px;
  color: #838c48;
  line-height: 1.8;
}

.footer-section .btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #9aac66;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.footer-section .btn:hover {
  background-color: #889f52;
}

.footer-bottom {
  width: 100%;
  background-color: #889f52;
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  width: 100%;
}

.footer-bottom p {
  margin: 0;
  /* margin-left: 250px; */
  width: 100%;
  max-width: 1200px;
}

.social-links {
  margin-top: 10px;
  /* margin-left: 650px; */
  width: 100%;
  max-width: 1200px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
}
